#summary {
	line-height:1.6em;
	box-sizing:border-box;
	width: 100%;
	padding: 20px;
	overflow: hidden;
	border: 2px solid rgba(246,178,107,0.7);
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: rgba(224,102,102,1);
	text-align: center;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: rgba(255,217,102,0.7);
	-webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3) ;
	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3) ;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
	margin:10px auto;
}
