<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>B&K</title>
<link charset="UTF-8" rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
</head>
<body>

<div id="header">
  <a href="home.html" id="logo" ><img src="../images/logo.jpg"></a>
  <div id="mainMenu">
    <div><a href="#">關於B&K</a></div>
    <div><a href="#">最新消息</a></div>
    <div><a href="#">技術與服務</a></div>
    <div><a href="#">產品訊息</a></div>
    <div><a href="#">聯絡我們</a></div>
  </div>
  <span id="language">
    <a href="#">English</a>
    <a href="#">中文</a>
  </span>
</div>

<div id="slider">
  <div class="jcarousel-wrapper">
    <div class="jcarousel">
      <ul>
        <li><img src="../demo/img/img1.jpg" alt=""></li>
        <li><img src="../demo/img/img2.jpg" alt=""></li>
        <li><img src="../demo/img/img3.jpg" alt=""></li>
        <li><img src="../demo/img/img4.jpg" alt=""></li>
        <li><img src="../demo/img/img5.jpg" alt=""></li>
        <li><img src="../demo/img/img6.jpg" alt=""></li>
      </ul>
    </div>
    <p class="jcarousel-pagination"></p>
  </div>
  <div id="sliderCover">
    <div>
      B&K以「雲端」作為動力中心，運用全球科技資源<br/>提供完整雲端環境並應用於數位科技生活及各項智能產品發展<br/>以創新的科技應用策略及高品質的服務
    </div>
    <button>Read more</button>
  </div>
</div>

<div id="bkNews">
  <div class="title">想知道B&K有什麼新鮮事？</div>
  <div>
    <div class="news" href="#">
      <img src="../demo/news-1.jpg">
      <div class="title">智慧型多媒體控制器</div>
      <div class="date">12/05/2015</div>
      <div class="content">透過行動網路，將個人雲、家庭雲整合手機與車機無線互連，資源共用與共享</div>
    </div>
    <div class="news" href="#">
      <img src="../demo/news-2.jpg">
      <div class="title">安卓智慧車載主機</div>
      <div class="date">12/05/2015</div>
      <div class="content">透過行動網路，將個人雲、家庭雲整合手機與車機無線互連，資源共用與共享</div>
    </div>
    <div class="news" href="#">
      <img src="../demo/news-3.jpg">
      <div class="title">智慧型音控模組</div>
      <div class="date">12/05/2015</div>
      <div class="content">透過行動網路，將個人雲、家庭雲整合手機與車機無線互連，資源共用與共享</div>
    </div>
    <div class="news" href="#">
      <img src="../demo/news-4.jpg">
      <div class="title">Mirror影像同步</div>
      <div class="date">12/05/2015</div>
      <div class="content">透過行動網路，將個人雲、家庭雲整合手機與車機無線互連，資源共用與共享</div>
    </div>
  </div>
</div>

<div>
  <div><a href="#">B&K安卓智慧車機</a><a href="#">D7行車胎壓紀錄器</a></div>
  <div><a href="#">了解更多</a></div>
  <div class="demoArea"></div>
</div>

<div>
  <div>Air Media</div>
  <div>
W Series 專屬應用程式，Air Media「個人手機遙控」App，支持多數Android 2.3 系統及其以上的智慧型手機，並透過 Wifi hotspot (熱點)連接，車用主機可同時與三台智慧型手機連接，藉由切換主控權，即可隨心所欲地操作 B&K之 W Series車用主機的五大功能。<br/>
GPS 衛星導航：開啟NAVI/重置GPS<br/>
Music 音樂播放器：整合本機ROM、SD卡、USB與智慧型手機的音樂檔<br/>
Vedio 影視播放器：整合本機ROM、SD卡、USB與智慧型手機的影片檔<br/>
Television 數位電視：上下切換頻道/節目/輸入頻道<br/>
Radio 收音機：搜尋電台/1~6記憶電台播放
  </div>
</div>

</body>
<script charset="UTF-8" src="../javascripts/jquery-2.1.1.min.js"></script>
<script charset="UTF-8" src="../javascripts/jquery.jcarousel.min.js"></script>
<script charset="UTF-8" src="../javascripts/main.js"></script>
</html>
